{
  "extends": ["blaze"],
  "rules": {
    "import/no-unresolved": [2, { "caseSensitive": false }],
    "import/no-dynamic-require": 0,
    "no-param-reassign": 0,
    "global-require": 0,
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "all",
        "singleQuote": true,
        "endOfLine": "auto",
        "printWidth": 80,
        "useTabs": true,
        "tabWidth": 8,
        "arrowParens": "avoid"
      }
    ]
  }
}
